body		{
		 background-image: url(onesti.jpg);
		 background-size: 800px 500px;
		 margin: 50px; 
		}

.header		{	
		 padding: 20px;
 		 background-color: red;
		 text-align: center;
		 font-size:30px;
		}

.slideshow-container {
  		 max-width: 1000px;
 		 position: relative;
 		 margin: auto;
		}

.prev, .next 	{
 		 cursor: pointer;
 		 position: absolute;
 		 top: 50%;
 		 width: auto;
 		 padding: 16px;
 		 margin-top: -22px;
  		 color: white;
 		 font-weight: bold;
 		 font-size: 18px;
 		 transition: 0.6s ease;
		 border-radius: 0 3px 3px 0;
 		 user-select: none;
		}


.next 		{
 		 right: 0;
 		 border-radius: 3px 0 0 3px;
		}


.prev:hover, .next:hover {
  		 background-color: black;
		}


.numbertext 	{
 		 color: red;
 		 font-size: 12px;
 		 padding: 8px 12px;
 		 position: absolute;
 		 top: 0;
		}

.close		{
		 display: none;
            	 position: absolute;
		 padding-top: 50px;
            	 top:30px;
            	 right:60px;
            	 color:black;
            	 font-size: 60px;
            	 font-weight: bold;
		 z-index: 1;
		}

.close:hover	{
		 color: white;
		 cursor: pointer;
		}